name: ci-test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
  - name: Set Env Variables
    env:
      DB_DRIVER: postgres
      DB_PASSWORD: postgres
      DB_SOURCE: postgresql://sb:${DB_PASSWORD}@localhost:5432/simplebank?sslmode=disable
    services:
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_USER: sb
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: simplebank
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Run migration
      run: make migrateup
      
    - name: Test
      run: make test
